/* Fonts
--------------------------*/
/* @import url("https://rsms.me/inter/inter-ui.css"); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Variables
---------------------------*/

:root {


  /* linen */
  --main-color: #FFEDE1;
  /* ivory */
  --main-color-2: #F9FBF2;
  /* light cyan */
  --light-accent: #D7F9FF;
  /* jordy blue */
  --accent: #AFCBFF;
  /* oxford blue */
  --dark-accent: #0E1C36;






  /* --body-border: .6em; */
  --body-padding: 0px;
  --section-padding: 0px 1rem 1.8rem 1rem;
  --section-bottom-margin: 1.5rem;
  --section-top-margin: 2rem;
  --color-mode: 'light';
  --background: var(--color-neutral-light);
  --background-alt: var(--color-yellow-Y400);
  --text-color: var(--color-neutral-dark);
  --mode-icon: '🌑';
  --mode-icon-opacity: '1';
  --border-color: var(--text-color);
  --box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Dark Mode
---------------------------*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--main-color);
    --background-alt: var(--light-accent);
    --text-color: var(--dark-accent);
    --border-color: var(--main-color-2);
    --mode-icon: '🌕';
    --mode-icon-opacity: .85;
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--color-teal-T1000);
  --background-alt: var(--color-teal-T900);
  --text-color: var(--color-gray-L200);
  --border-color: var(--color-teal-T800);
  --mode-icon: '🌕';
  --mode-icon-opacity: .85;
}

/* Global
---------------------------*/

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-red-R600);
  color: var(--color-gray-L200);
} */

html {
  height: 100vh;
  background-color: var(--main-color);
  font-size: 125%;
}

body {
  min-height: calc(100vh - var(--body-border)*2);
  margin: 0;
  /* padding: 2.5vw 2.5vw 5vw; */
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-radius: 5px;
  font-size: 112.5%;
  font-family: "Crimson Pro", Georgia, serif;
  line-height: 1.4;
  color: var(--text-color);
  padding-top: 5vw;
}


p {
  text-align: center;
}


/* Header
---------------------------*/

header {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 1;
  color: var(--dark-accent);
}








/* Main
---------------------------*/

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  flex: 1;
  padding: 0;
}


/* ---- media query ---- */
/* mobile */
@media screen and (max-width: 35.5rem) {

  /* navigation and links */
  nav {
    overflow: hidden;
    position: relative;
    background-color: var(--main-color-2);
  }

  nav .nav-link {
    display: none;
  }

  .nav-out {
    font-size: 0.5em;
  }

  .contact-link {
    padding: 0 0.5rem 0 0;
  }

  .fa-brands {
    font-size: 0.5em;
  }

  /* main */
  main {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  .row1 {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column;
  }
}


@media screen and (min-width: 50rem) {
  .section {
    margin-bottom: var(--section-bottom-margin);
    padding: var(--section-padding);
    flex: 1;
  }
}

@media (prefers-reduced-motion) {
  .links>a>span {
    transition: none;
  }
}





/* section
---------------------------*/
.section {
  flex: 1 0 1;
  margin-bottom: var(--section-bottom-margin);
  padding: var(--section-padding);
}


.section-header {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 80%;
  margin-bottom: 0.5rem;
  color: var(--dark-accent);

  @media all and (max-width: 50rem) {
    padding: .5rem;
    padding-bottom: .6rem;
  }
}

.section-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.section h2 {
  font-size: clamp(1.4rem, 2vw, 2.7rem);
}

.section ul {
  padding-left: 1em;
}


.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 h3 {
  align-items: center;
}

img {
  margin: 0;
  padding: 0;
  /* object-fit: cover; */
  width: 100%;
}

/* .img-cover {
  min-height: 18.75rem;
} */

p {
  margin: 0;
  padding: 0;
}

.spacer-small {
  padding-bottom: 0.5rem;
}

.spacer-large {
  padding-bottom: 2rem;
}

.spacer-xlarge {
  padding-bottom: 6rem;
}

/* Links section
---------------------------*/
a:visited {
  text-decoration: none;
  color: var(--dark-accent)
}

a:link {
  text-decoration: none;
  color: var(--dark-accent)
}

.links {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.links>a {
  padding-right: var(--body-padding);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  font-size: clamp(1.5rem, 5vw, 10rem);
  color: var(--text-color);
}

.links>a>strong {
  padding-left: var(--body-padding);
  padding-right: .5em;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background);
  z-index: 1;
}

.links>a>strong:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  transform: translateY(-50%);
}



.links>a:hover>strong:after,
.links>a:focus>strong:after {
  opacity: .5;
}

.links>a>span {
  position: relative;
  font-size: clamp(1rem, 2vw, 2rem);
  transition: transform 150ms ease-in-out;
  transform: translateX(-100%);
  z-index: 0;
}

a:visited {
  color: inherit;
}



.links>a:hover>span,
.links>a:focus>span {
  transform: translateX(1em);
}

.links>a:focus {
  outline: none;
}

.links>a:focus,
.links>a:focus>strong {
  background-color: var(--main-color-2);
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--main-color);
  border-bottom: var(--accent);
  border-width: 1px;
  box-shadow: var(--box-shadow-2)
}

.nav-link {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 2.25rem;
  width: 100%;
}

.nav-out {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 2.25rem;
  width: 100%;
}

.navigation-link {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: .25rem 1.25rem .25rem 0rem;
  color: var(--dark-accent);
}

.innactive-link:hover {
  color: var(--dark-accent);
  background-color: var(--accent);
}


/* links to github etc */
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
}

.contact-link {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 0;
  color: var(--dark-accent);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--accent)
}

.line {
  height: 1px;
  width: 75%;
  margin: 0 5.5rem 0 5.5rem;
  background: var(--dark-accent);
}



/* icons */

.material-symbols-outlined {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.fa-brands {
  font-size: 1em;
}


.icon-adjust {
  font-size: 1.5rem;
  position: relative;
  top: 5px;
  left: 5px;
}


li a {
  text-decoration: none;
}


/* dark mode toggle */
.slider-div {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 5vh;
  margin: 0;
}

.slider {
  background-color: var(--accent);
  position: relative;
  margin: 0 2vw 0 0;
  width: 3rem;
  height: 1.5rem;
  border-radius: 34px;
  cursor: pointer;
  transition: .2s;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--light-accent);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.1rem;
  border-radius: 50%;
  transition: .2s;
}

input:checked+.slider {
  background-color: var(--dark-accent);
}


input:checked+.slider::before {
  transform: translateX(1.25rem);
}

input {
  display: none;
}

/* header section */

.main-text-container {
  background-color: var(--light-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* home page -- project cards*/
.feat-projects {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col1 {
  /* flex: 75%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.col2 {
  /* flex: 75%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  align-self: center;
  width: 85%;
  max-width: 40rem;
  position: relative;
  margin-bottom: 4rem;
  background-color: var(--main-color-2);
  color: var(--dark-accent);
  border-color: var(--dark-accent);
  box-shadow: 0 1px 3px var(--light-accent), 0 1px 2px var(--light-accent);
  height: 25rem;

  img-cover {
    max-height: 75%;
    object-fit: fill;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0.5rem 0;
  padding: 0;
}



/* all projects page -- project filtering section */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0;
}

.filter {
  color: var(--dark-accent);
  background-color: var(--light-accent);
  border-radius: 10%;
  padding: 0.2rem;
  margin: 0 0.5vw 0 0.5vw;
}

.filter:hover {
  background-color: var(--accent);
}


/* all projects page */
.projects {
  overflow: hidden;
}

.project-card-filt {
  float: left;
  align-self: center;
  width: 100%;
  max-width: 40rem;
  position: relative;
  margin-bottom: 4rem;
  background-color: var(--main-color-2);
  color: var(--dark-accent);
  border-color: var(--dark-accent);
  /* background-color: white; */
  box-shadow: 0 1px 3px var(--light-accent), 0 1px 2px var(--light-accent);

  img {
    width: 100%;
    object-fit: fill;

  }

  display: none;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.tag {
  margin: 0 1vw;
  background-color: var(--light-accent);
  color: var(--dark-accent);
  border-radius: 8%;
  padding: 0.25vw;
  font-size: 0.75em;
}


.button {
  font-family: "Crimson Pro", Georgia, serif;
  font-size: 0.8rem;
  font-style: bold;
  border-radius: 10%;
  padding: 0.2rem;
  margin-bottom: 0;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--dark-accent);
}

button:hover {
  background-color: var(--light-accent);
}


a.button {
  font-family: "Crimson Pro", Georgia, serif;
  font-size: 1.3rem;
  font-style: bold;
  border-radius: 20px;
  border-style: outset;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
}


/* project pages */
.proj-img {
  width: 70%;

}




/* other */

.active {
  color: var(--accent);
}

/* filter */

.show {
  display: flex;
  flex-direction: column;
}


/* back to top */
.to-top {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 1vw;
  bottom: 2.5vh;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--dark-accent);
  color: var(--light-accent);
  outline: none;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 2px 2px 5px var(--accent);
}

.to-top:hover {
  background-color: var(--light-accent);
  color: var(--dark-accent);
}