/* Fonts
--------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables
---------------------------*/

:root {
  /* -----colors----- */
  /* linen */
  --main-color: #ffede1;
  /* ivory */
  --main-color-2: white;
  /* light cyan */
  --light-accent: #d7f9ff;
  /* jordy blue */
  --accent: #afcbff;
  /* oxford blue */
  --dark-accent: #0e1c36;
}

/* Dark Mode
---------------------------*/
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--main-color);
    --background-alt: var(--light-accent);
    --text-color: var(--dark-accent);
    --border-color: var(--main-color-2);
    --mode-icon: '🌕';
    --mode-icon-opacity: .85;
  }
} */

/* [data-user-color-scheme='dark'] {
  --background: var(--color-teal-T1000);
  --background-alt: var(--color-teal-T900);
  --text-color: var(--color-gray-L200);
  --border-color: var(--color-teal-T800);
  --mode-icon: '🌕';
  --mode-icon-opacity: .85;
} */

/* Global
---------------------------*/

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-red-R600);
  color: var(--color-gray-L200);
} */

html {
  height: 100%;
  background-color: var(--main-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: calc(100vh - var(--body-border) * 2); */
  margin: 0;
  /* padding: 2.5vw 2.5vw 5vw; */
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-family: "Inter";
  line-height: 1.4;
  color: var(--text-color);
  overflow: hidden;
}

/* Header
---------------------------*/

/* header {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 1;
  color: var(--dark-accent);
} */

/* section
---------------------------*/
.section {
  flex: 1 0 1;
  margin-bottom: var(--section-bottom-margin);
  padding: var(--section-padding);
}

.section ul {
  padding-left: 1em;
}

.spacer-small {
  padding: 0;
  margin: 0;
}

.spacer-large {
  padding-bottom: 1rem;
}

.center-text {
  text-align: center;
}

.left {
  justify-content: left !important;
  align-items: left !important;
  text-align: left !important;
}

/* .zero-margin {
  margin: 0 !important;
} */

.small-margin {
  margin: 1rem !important;
}

/* Main
---------------------------*/

main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* side bar navigation */
.sidebar-menu {
  background-color: var(--dark-accent);
  height: 100%;
  width: 6.5rem;
  text-align: center;
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  width: inherit;
  color: var(--light-accent);
}

.sidebar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--light-accent);
  width: 100%;
  font-size: 24px;
  overflow: hidden;
}

.sidebar-menu a {
  color: var(--light-accent);
}

.active-page {
  background-color: var(--main-color);
}

.active-page a {
  color: var(--dark-accent);
}

/* hamburger menu navigation */
.off-screen-menu {
  display: none;
}

.ham-menu {
  display: none;
}

/* main content */
.main-bar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  align-items: center;
}

/* links to github etc */
/* Links section
---------------------------*/

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  margin-top: 5rem;
  padding: 0;
}

.links-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 90%;
  height: auto;
  padding: 0;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 0;
  color: var(--dark-accent);
  text-decoration: none;
  font-size: 20px;
}

.contact-link a {
  color: var(--dark-accent);
  align-items: left;
  justify-content: left;
}

.nav-out {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 2.25rem;
  width: 100%;
}

.contact-link:hover {
  color: var(--accent);
}

.line {
  height: 1px;
  width: 75%;
  margin: 0 5.5rem 0 5.5rem;
  background: var(--dark-accent);
}

.section-header {
  width: 90%;
  align-items: left;
  text-align: left;
}

/*  links within text*/
.spacer-small a:link {
  color: blue;
}

.spacer-small a:hover {
  color: var(--dark-accent);
}

/* icons */

.material-symbols-outlined {
  padding: 0;
  margin: 0;
}

.fa-brands {
  font-size: 16px;
}

.fa-regular {
  font-size: 16px;
}

.fa-solid {
  font-size: 16px;
  margin: 0 2px;
}

.icon-adjust {
  position: relative;
  top: 5px;
  left: 5px;
}

li a {
  text-decoration: none;
}

/* dark mode toggle */
.slider-div {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 5vh;
  margin: 0;
}

.slider {
  background-color: var(--accent);
  position: relative;
  margin: 0 2vw 0 0;
  width: 3rem;
  height: 1.5rem;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.2s;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--light-accent);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.1rem;
  border-radius: 50%;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--dark-accent);
}

input:checked + .slider::before {
  transform: translateX(1.25rem);
}

input {
  display: none;
}

/* header section */

.main-text-container {
  margin-top: 2.5rem;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* home page -- featured project cards*/
.feat-projects {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col1 {
  width: 50%;
  display: flex;
  align-items: right;
  justify-content: right;
  margin: 0.5rem;
}

.col2 {
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0.5rem;
}

/* project cards on homepage */
.project-card {
  width: 75%;
  max-width: 500px;
  height: 26rem;
  margin-bottom: 4rem;
  background-color: var(--main-color-2);
  color: var(--dark-accent);
  border-color: var(--dark-accent);
  box-shadow:
    0 1px 3px var(--light-accent),
    0 1px 2px var(--light-accent);
}

.image-container-home {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

.image-container-home a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.img-cover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.alternate-fit {
  object-fit: cover;
}

.tag-container-home {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
  padding: 0.1rem;
}

.tag {
  font-size: 10px;
}

.title-home {
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
}

.text-container-home {
  height: 35%;
  padding: 0 0.5rem;
}

.proj-text {
  padding: 0;
  font-size: 12px;
}

/* all projects page -- project filtering section */
.section-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* max-width: 800px; */
  width: 90%;
  /* margin: 0 4rem 4rem 4rem; */
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  margin: 0.5rem;
  padding: 0;
}

.filter {
  color: var(--dark-accent);
  background-color: var(--light-accent);
  border-radius: 10%;
  padding: 0.2rem;
  margin: 0 0.5vw 0 0.5vw;
  font-size: 14px;
}

.filter:hover {
  background-color: var(--accent);
}

.filter:focus {
  color: var(--light-accent);
  background-color: var(--dark-accent);
}

.selected {
  color: var(--light-accent);
  background-color: var(--dark-accent);
}

.projects {
  overflow: hidden;
}

/* project cards with filter */
.project-card-filt {
  float: left;
  align-self: center;
  width: 100%;
  width: 32.5rem;
  height: 32.5rem;
  position: relative;
  margin-bottom: 4rem;
  background-color: var(--main-color-2);
  color: var(--dark-accent);
  border-color: var(--dark-accent);
  box-shadow:
    0 1px 3px var(--light-accent),
    0 1px 2px var(--light-accent);
  display: none;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.25rem;
  height: 50%;
}

.image-container a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.tag {
  margin: 0 1vw;
  padding: 0.25vw;
  background-color: var(--light-accent);
  color: var(--dark-accent);
  border-radius: 8%;
  font-size: 12px;
}

.tag-proj {
  margin: 0 1vw;
  padding: 0.25vw;
  width: auto !important;
  background-color: var(--light-accent);
  color: var(--dark-accent);
  border-radius: 8%;
  font-size: 16px;
}

.text-container {
  height: 40%;
  padding: 0 0.5rem;
}

.title {
  text-align: left;
  font-size: 20px;
  margin: 0.25rem;
  padding: 0;
}

.proj-text-filt {
  font-size: 14px;
  margin: 0;
}

/* project card button */
.button {
  float: right;
  font-size: 16px;
  font-style: bold;
  border-radius: 10%;
  padding: 0.2rem;
  margin: 0.25rem;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--dark-accent);
  width: auto;
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
}

button:hover {
  background-color: var(--light-accent);
}

/* project pages */
.proj-img {
  width: 90%;
  height: auto;
}

.section-project h1 h2 h3 {
  margin: 0.25rem;
}

.section-project p {
  width: inherit;
}

/* filter */

.show {
  display: flex;
  flex-direction: column;
}

/* back to top */
.to-top {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 1vw;
  bottom: 2.5vh;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--dark-accent);
  color: var(--light-accent);
  outline: none;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 2px 2px 5px var(--accent);
}

.to-top:hover {
  background-color: var(--light-accent);
  color: var(--dark-accent);
}

/* ---- media queries ---- */
/* ------- monitors and desktops ------- */
@media screen and (min-width: 1980px) {
  /* home page project cards */

  /* all project cards */

  .tag {
    margin: 0 0.5vw 0 0.5vw;
    padding: 0.25vw;
  }

  .col1 {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 50%;
    padding-right: 2rem;
  }

  .col2 {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 50%;
    padding-left: 2rem;
  }

  .sidebar-menu {
    height: 100%;
  }
}

/* ------- laptops ------- */
@media screen and (max-width: 1200px) {
  .sidebar-menu {
    height: 100%;
  }

  /* home page project cards */

  /* all project cards */
  .project-card {
    align-self: center;
    width: 90%;
    position: relative;
    margin-bottom: 4rem;
  }

  .title-home {
    font-size: 15px;
  }

  .project-card button {
    font-size: 11px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    margin: 0;
  }
}

/* ------- tablets ------- */
/* 1024 */
@media screen and (max-width: 1024px) {
  /* main - change to single column for feat proj */
  main {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  /*  navigation*/
  .navigation {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100vw;
    background-color: var(--accent);
    position: fixed;
    z-index: 1;
    height: 2.25rem;
  }

  .sidebar-menu {
    display: none;
  }

  /* change to hamburger */
  .off-screen-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    width: 100px;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 1.5rem;
    left: -450px;
    transition: 0.3s ease;
    font-size: 16px;
  }

  .off-screen-menu ul {
    list-style-type: none;
    padding: 0 0 0 0.5rem;
    text-align: left;
  }

  .off-screen-menu li {
    padding: 0.25rem;
  }

  .off-screen-menu a:hover {
    text-decoration: underline;
  }

  .off-screen-menu a {
    color: var(--dark-accent);
  }

  .off-screen-menu.active {
    left: 0;
  }

  .ham-menu {
    display: flex;
    color: var(--dark-accent);
    background-color: var(--accent);
    position: fixed;
    left: 0rem;
    align-items: left;
    justify-content: left;
    padding: 0.3rem;
    cursor: pointer;
  }

  /* homepage - change into single column layout */
  .row1 {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    justify-content: center;
    padding-right: 0;
  }

  .col2 {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  /* home page project cards */

  .project-card {
    width: 60%;
    /* max-width: 500px; */
    margin: 0.5rem;
  }

  .tag {
    font-size: 12px;
  }

  .title-home {
    font-size: 14px;
  }

  .proj-text {
    font-size: 12px;
    padding: 0.25rem;
  }

  .button {
    font-size: 14px;
  }
}

/* -------mobile------- */
@media screen and (max-width: 540px) {
  .section-header {
    margin: 0;
  }

  .nav-out {
    font-size: 0.5em;
  }

  .contact-link {
    padding: 0 0.5rem 0 0;
    font-size: 18px;
  }

  .fa-brands {
    font-size: 12px;
  }

  /* home page layout change to single column */

  main {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  .main-text-container h1 {
    font-size: 24px;
  }

  .main-text-container h3 {
    font-size: 18px;
  }

  .main-text-container {
    font-size: 14px;
  }

  .row1 {
    flex-direction: column;
    margin: 0.1rem;
  }

  .row2 {
    flex-direction: column;
    margin: 0.1rem;
  }

  .col1 {
    width: 100%;
    margin: 0.1rem;
  }

  .col2 {
    width: 100%;
    margin: 0.1rem;
  }

  /* home page project cards */
  .project-card {
    /* height: 12rem; */
    width: 16.25rem;
    height: 16.25rem;
    margin: 0.5rem;
  }

  .tag {
    font-size: 10px;
  }

  .text-container-home {
    height: auto;
  }

  .title-home {
    font-size: 12px;
  }

  .proj-text {
    display: none;
  }

  .button {
    font-size: 9px;
    width: auto;
  }

  /* all projects page */

  .filter {
    font-size: 10px;
  }

  .project-card-filt {
    width: 16.25rem;
    height: 16.25rem;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 12px;
  }

  .proj-text-filt {
    display: none;
  }
}
